* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: aqua;
}

footer {
  margin-top: 85vh;
  height: 60px;
  padding: 3% 5%;
  border-top: 1.5px solid #aaa;
  text-align: center;
}

header {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 14px;
}

.logo {
  border: 1px solid blue;
  border-radius: 50%;
  padding: 1em;
  margin: auto;
}

.nav-tab {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  list-style: none;
  gap: 1em;
  margin: auto;
}

.nav-tab li {
  margin-right: 1em;
  margin-left: 2em;
}

hr {
  width: 100%;
  margin-top: 14px;
}



